* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containers {
    width: 400px;
    height: 80vh;
    margin: 80px auto;
    border: 2px solid black;
    position: relative;
    background: url('images/1.png');
    background-size: cover;
    background-position: center;
}
.containers .btn-left{
    position: absolute;
    top: 50%;
}
.containers .btn-right{
    position: absolute;
    top: 50%;
    right: 0;
}
.containers a {
    text-decoration: none;
}
.containers span {
    background-color: rgb(0, 0, 0,0.6);
    padding: 20px;
    border-radius: 50%;
    color: white;
}
